.navbar{
    display: flex;
    justify-content: space-around;
    padding: 16px;
    box-shadow: 0 1px 3px -2px black;
    align-items: center;
}

.nav-logo img{
    width: 210px;
}
.nav-logo{
    display: flex;
    align-items: center;
    gap:10px;
}


.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap:50px;
    color: #626262;
    font-size: 25px;
    font-weight: 500;
    /* margin-right: 100px; */
}

.nav-menu li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:3px;
    cursor: pointer;
}

.nav-menu hr{
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background-color: #d51e1ebc ;
}

.nav-login-cart{
    display: flex;
    align-items: center;
    gap: 45px;
    position: relative; 
}

.nav-login-cart button{
    width: 150px;
    height: 58px;
    outline: none;
    border: 1px solid #7a7a7a;
     border-radius: 75px; 
    color: #515151;
    font-size: 20px;
    font-weight: 500;
    background:white;
    cursor: pointer;
}

.nav-login-cart button:active{
    background: #f3f3f3;
}


.nav-login-cart img{
    height: 55px;
}

.nav-cart-count{
    position: absolute;
    top: 0px; /* Adjust as needed to position vertically */
    right: 0px; /* Adjust as needed to position horizontally */
    transform: translate(50%, -50%); /* Center over top-right of the cart icon */
    width: 22px;
    height: 22px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 11px;
    font-weight: 700;
    background: red;
    color: white;
}

.nav-dropdown{
        display: none;
}
@media (max-width: 1280px) {
    .navbar {
        padding: 12px 50px;
    }
    .nav-logo img {
        width: 150px;
    }
    .nav-menu {
        gap: 30px;
        font-size: 16px;
    }
    .nav-login-cart {
        gap: 30px;
    }
    .nav-login-cart button {
        width: 100px; /* Adjust width as necessary */
        height: 45px;
        font-size: 16px;
    }

    .nav-login-cart img{
        height: 45px;
    }
}


@media (max-width: 1024px) {
    .navbar{
        padding: 12px 50px;
        
    }
    .nav-logo img {
        width: 120px;
    }
    .nav-menu{
        gap: 25px;
        font-size: 14px;
    }

    .nav-login-cart button{
        width: 70px;
        height: 32px;
        font-size: 14px;
    }

    .nav-login-cart img{
        width: 45px;
    }
    .nav-cart-count{
        height: 18px;
        width: 18px;
    }

}

@media(max-width:800px){
    .navbar{
        padding: 10px 0px;
    }

    .nav-dropdown{
        display: block;
        width: 30px;
        rotate: -90deg;
        transition: 0.5s;
    }

    .nav-menu{
        display: none;
        height: 80px;
        width: 100%;
        position: absolute;
        background-color: white;
        justify-content: center;
        top: 50px;
    }

    .nav-menu-visible{
        display: flex;

    }

    .nav-dropdown.open{
        transform: rotate(90deg);
    }
}

@media(max-width:500px){
    .navbar{
        padding: 8px 0px;
        gap: 0;
    }

    .nav-logo{
        transform: scale(0.8);
    }

    .nav-menu{
        height: 70px;
        top: 50px;

    }

    .nav-login-cart{
        transform: scale(0.8);
    }
}